<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div formArrayName="arr" *ngFor="let a of formGroup.get('arr').controls;let i = index">
    
    <div [formGroupName]="i">
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>

    <button (click)="remove(i)">X</button>
    </div>
  </div>
    <div formGroupName="address">
        <h3>Address</h3>
      
        <label>
          Street:
          <input type="text" formControlName="street">
        </label>
      
        <label>
          City:
          <input type="text" formControlName="city">
        </label>
        
        <label>
          State:
          <input type="text" formControlName="state">
        </label>
      
        <label>
          Zip Code:
          <input type="text" formControlName="zip">
        </label>
      </div>

      {{formGroup.status}}

     <button   class="btn btn-success" type="submit" [disabled]="!formGroup.valid" >save</button>
     <button   class="btn btn-success" type="submit"  (click)="addItem()">Add</button>
     <button class="btn btn-primary" (click)="updateForm()">Update</button>         

  </form>